/Trila Java Basico/Java-Basico/nbproject/private/
/Trila Java Basico/Java-Basico/build/
/Trila Java Basico/Java-Basico/dist/
/Trilha Java Basico/nbproject/private/
/Trilha Java Basico/build/
/Trilha Java Basico/ContaBancaria/build/
/Trilha Java Basico/ContaBancaria/nbproject/private/
/Trilha Java Basico/Processo Seletivo/nbproject/private/
/StreamAPI/StreamAPI/nbproject/private/
/StreamAPI/StreamAPI/build/
/StreamAPI/StreamAPI/dist/
